<h2><%= @meal.name %></h2>
<hr>
<br>
<p><%= @meal.content %></p>
<p><%= @meal.type %></p>


<a href="/meals/ <%= @meal.id %>/edit">Edit</a>
<br>
<a href="/meals/ <%= @meal.id %>" method="DELETE">Delete</a>
<br>
<a href="/meals">Go Back</a></p>