
<h2>Edit your Meal</h2>
<hr>
<br>
<form method="POST" action="/foods/<%= @food.id %>">
<input type="hidden" id="hidden" name="_method" value="PATCH"><!-- the hidden values of the attributes tell Rack to override the post and to patch-->
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="<%= @food.name %>">
    <br>
    <br>
    <label>Contents: <textarea name="content" id="content" rows="2" cols="20" placeholder="<%= @food.content %>"></textarea></label>
    <br>
    <br>
    <label>Type:  <input type="text" name="meal" id="meal" placeholder="<%= @food.meal %>"></label>
    <br>
    <br>
    <label>Make Again?  <input type="text" name="make_again?" id="make_again?" placeholder="<%= @food.make_again? %>"></label>
    <br>
    <br>
    <input type="submit" value="Submit">

</form>