<h1><%= @food.name.capitalize %></h1>
<h2> </h2>
<br>
<p>Content:  <strong><%= @food.content %></strong></p>
<p>Type of Meal:  <strong><%= @food.meal %></strong></p>
<p>Would You Make It Again?  <strong><%= @food.make_again? %></strong></p>


<button><a href="/foods/ <%= @food.id %>/edit">Edit</a></button>
<br>
<br>
        <form method="POST" action="/foods/<%= @food.id %>">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
        </form>
<br>
<button><a href="/foods">Go Back</a></button>